{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "css"
}
